.cell {
    /* Устанавливаем ширину и высоту клеток */
    width: 50px;
    height: 50px;
    /* Используем flex для выравнивания содержимого внутри клетки */
    display: flex;
    /* Горизонтальное выравнивание содержимого по центру */
    justify-content: center;
    /* Вертикальное выравнивание содержимого по центру */
    align-items: center;
}

/* Чёрные клетки */
.black {
    /* Задаём цвет фона для чёрных клеток */
    background-color: #cccccc;
}

/* Белые клетки */
.white {
    /* Задаём белый цвет фона для белых клеток */
    background-color: #fff;
}
