body {
  /* Установка flex-контейнера для выравнивания содержимого */
  display: flex;
  /* Выравнивание содержимого по горизонтальной оси в центре */
  justify-content: center;
  /* Выравнивание содержимого по вертикальной оси в центре */
  align-items: center;
  /* Высота тела страницы равна 100% видимой области экрана */
  height: 100vh;
  /* Удаление отступов у элемента */
  margin: 0;
  /* Цвет фона */
  background-color: #f0f0f0;
}