/* Общий стиль шашек */
.piece {
  /* Устанавливаем ширину и высоту каждой шашки */
  width: 40px;
  height: 40px;
  /* Закругляем края шашек */
  border-radius: 50%;
  /* добавляем границу */
  border: 1px;
  border-style: solid;
  /* Курсор в виде указателя при наведении для интерактивности */
  cursor: pointer;
  /* Тень для визуального выделения шашек */
  box-shadow: 2px 6px 8px 1px rgba(34, 60, 80, 0.2);
}

/* Белые шашки */
.white {
  /* Цвет фона для белых шашек, ярко-зелёный */
  background-color: white;
}

/* Чёрные шашки */
.black {
  /* Цвет фона для чёрных шашек, тёмно-фиолетовый */
  background-color: black;
}

/* Дамки */
.king {
  /* Добавляем обводку для дамок, чтобы выделить их */
  border: 2px solid #fc7f49;
}